/* see https://github.com/themesberg/flowbite-admin-dashboard/blob/main/src/css/input.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


textarea:focus, input:focus{
    outline: none;
    border: transparent;
    @apply border-transparent focus:border-transparent focus:ring-0;
}